@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

.check-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.check-list__action {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 121, 245, 1);
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    max-width: 743px;
    justify-content: space-around;
    padding: 10px 10px;
}

@media(min-width: 768px) {
    .check-list__action {
        flex-direction: row;
        height: 58.5px;
        width: 100%;
        padding: 0;
        padding-bottom: 16px;
        padding-top: 16.5px;
    }
}

.check-list__progress-circle-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media(min-width: 768px) {
    .check-list__progress-circle-wrapper {
        display: flex;
        justify-content: start;
    }
}

.check-list__progress-circle {
    --size: 60px;
    --half-size: calc(var(--size) / 2);
    --stroke-width-bg: 1px;
    --stroke-width-fg: 3.5px;
    --radius: calc((var(--size) - var(--stroke-width-fg)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --progress: 3;
    --dash: calc((var(--progress) * var(--circumference)) / 100);
    position: relative;
    width: var(--size);
    height: var(--size);
  }

  .check-list__progress-circle circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    fill: none;
    stroke-linecap: round;
  }

  .check-list__progress-circle circle.bg {
    stroke-width: var(--stroke-width-bg);
    stroke: #ddd;
  }

  .check-list__progress-circle circle.fg {
    stroke-width: var(--stroke-width-fg);
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    stroke: #fff;
  }

  .check-list__progress-circle-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }

  @property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

.check-list__action-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 768px) {
    .check-list__action-text-wrapper {
        margin-left: -35px;
    }
}

.check-list__action-text-wrapper p {
    color: #fff;
    margin: 0;
    font-size: 12px;
}

.check-list__action-text-wrapper p:nth-child(1) {
    background-color: rgba(35, 100, 219, 1);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 40px;
    margin-bottom: 4px;
}

.check-list__action-text-wrapper p:nth-child(2) {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4px;
}

.check-list__action-text-wrapper p:nth-child(3) {
    font-size: 12px;
    line-height: 18px;
}

.check-list__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media(min-width: 768px) {
    .check-list__button-wrapper {
        align-items: center;
        margin: 0;
    }
}

.check-list__button-wrapper button {
    cursor: pointer;
    color: rgba(71, 119, 237, 1);
    background-color: rgba(244, 248, 255, 1);
    width: 180px;
    border-radius: 6px;
    padding: 10px 25px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
}